body{
					font-family: Lato;
							font-size: #333333;
							color: #333333;
					}
	p{
					font-family: Lato;
									color: #333333;
					}
	h1,.h1{
					font-family: Yeseva One;
							font-size: 50px;
							color: #333333;
					}
	h2,.h2{
					font-family: Yeseva One;
							font-size: 31px;
							color: #333333;
					}
	h3,.h3{
					font-family: Yeseva One;
							font-size: 27px;
							color: #333333;
					}
	h4,.h4{
					font-family: Yeseva One;
							font-size: 20px;
							color: #333333;
					}
	h5,.h5{
					font-family: Yeseva One;
							font-size: 18px;
							color: #333333;
					}
	h6,.h6{
					font-family: Yeseva One;
									color: #333333;
					}
	a{
									color: #333333;
					}




	
	.navbar-custom .navbar-nav li a {
    font-weight: 600;
}
a.navbar-brand.logo {
    margin-top: -40px;
}
.widget-cat-paragraph .col-md-6:nth-child(2) {
    padding: 50px;
    background: #00000094;
}
.widget-cat-quotes .col-md-6 {
    background: #000;
    padding: 50px 23px;
}
.widget-cat-image-caption .col-md-7 img {
    padding-right: 13px;
}
.sbmt-btn {
    margin: 21px auto;
    display: block;
    padding: 10px 58px;
    background: #c9a131;
}
.form-group label {
    color: #c9a131;
}
.table>tbody>tr>td {
    padding: 0;
    line-height: unset;
    border-top: unset;
}
.element img {
    margin: 0 auto;
    display: block;
}
.social.horizontal li .fa {
    background: transparent;
}
.social_icons_widget.social_icons_widget_2 {
    text-align: center;
}
.row.customrow {
    margin-top: 50px;
}
.back-to-top {
    background: #cc9900;
}
.widget.form_widget.form_widget_1 button[type=submit] {
    color: #fff !important;
    font-size: 20px !important;
}

	.button_7581697{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#c9a131;background-image:none;color:#ffffff;font-family:Lato;font-size:16px;line-height:22px;font-weight:400;border-top-left-radius:1px;border-top-right-radius:1px;border-bottom-left-radius:1px;border-bottom-right-radius:1px;padding-left:58px;padding-right:58px;padding-top:10px;padding-bottom:10px;display:inline-block;}.button_7581697:hover{background-color:#e6e6e6;background-image:none;color:#ffffff;font-family:Lato;font-size:16px;line-height:22px;font-weight:400;border-top-left-radius:1px;border-top-right-radius:1px;border-bottom-left-radius:1px;border-bottom-right-radius:1px;padding-left:58px;padding-right:58px;padding-top:10px;padding-bottom:10px;}.button_2156810{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:rgba(204,204,204,0);background-image:none;color:#ffffff;font-family:Lato;font-size:16px;line-height:22px;letter-spacing:3px;text-transform:uppercase;font-weight:400;padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;display:inline-block;}.button_2156810:hover{background-color:#f9f9f9;background-image:none;color:#000000;font-family:Lato;font-size:16px;line-height:22px;letter-spacing:3px;text-transform:uppercase;font-weight:400;padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;}.button_10692264{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#f9f9f9;background-image:none;color:#000000;font-family:Lato;font-size:16px;line-height:22px;letter-spacing:3px;text-transform:uppercase;font-weight:400;padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;display:inline-block;}.button_10692264:hover{background-color:#f9f9f9;background-image:none;color:#000000;font-family:Lato;font-size:16px;line-height:22px;letter-spacing:3px;text-transform:uppercase;font-weight:400;padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;}
.navbar-custom{
		background-color:rgba(255,255,255,0);
}
	.navbar-absolute-top{
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1030;
		background-color: transparent;
	}

.navbar-toggle{
	background-color:rgba(0,0,0,1);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:#ffffff;
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .navbar-nav li ul.sub-menu li a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,1);
}
.navbar-custom .navbar-nav li ul.sub-menu li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav li ul.sub-menu li a:focus, .navbar-custom .nav li ul.sub-menu li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:rgba(0,0,0,1);
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(0,0,0,0);
	}
}
